$theme-colors-primary: blue;
$theme-colors-success: green;
$theme-colors-error: red;
// TODO: 待查： 這個好像是 bootstrap 特有的 function 去解析，
// $theme-colors: (
//   primary: blue,
//   success: green,
//   error: red,
// );
